{% extends "index.html"%}
{% block title %} Login Here{% endblock%}
{% block content %}
<h1>Login page</h1>
<center>
<form action ="" method ="POST">
    
    <p>E-mail : <input name ="email" type ="text" placeholder ="Enter your E-mail" ></p>
    <p>Password : <input name ="password" type ="password" placeholder ="Enter your password" ></p>
    
    <button type ="submit">Login</button>

    

</form>
{% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    {{ message }}
                {% endfor %}
            {% endif %}
        {% endwith %}
</center>
{% endblock %}